server:
    port: 8080
spring:
    application:
        name: customer
    datasource:
        password: password
        url: jdbc:postgresql://postgres:5432/customer
        username: amigoscode
    jpa:
        hibernate:
            ddl-auto: create-drop
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
                format_sql: true
        show-sql: true
    zipkin:
        base-url: http://zipkin:9411
    rabbitmq:
        addresses: rabbitmq:5672
eureka:
    client:
        service-url:
            defaultZone: http://eureka-server:8761/eureka
        fetch-registry: true
        register-with-eureka: true
        enabled: false

